flows/Auto_Refresh_Project_Geographic_Area_List_on_Project.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_City_to_the_text_variable</name>
        <label>Add City to the text variable</label>
        <locationX>1360</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>var_text_cities_concatenated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_sorted_city_list.Geographic_Area_Name_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_sorted_city_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_country_to_the_text_variable</name>
        <label>Add country to the text variable</label>
        <locationX>1809</locationX>
        <locationY>741</locationY>
        <assignmentItems>
            <assignToReference>var_text_countries_concatenated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_sorted_country_list.Geographic_Area_Name_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_sorted_country_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_semicolon_separations_for_cities</name>
        <label>Add semicolon separations for cities</label>
        <locationX>1126</locationX>
        <locationY>1017</locationY>
        <assignmentItems>
            <assignToReference>var_text_cities_concatenated</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_City_to_the_text_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_semicolon_separations_for_countries</name>
        <label>Add semicolon separations for countries</label>
        <locationX>1641</locationX>
        <locationY>997</locationY>
        <assignmentItems>
            <assignToReference>var_text_countries_concatenated</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_country_to_the_text_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>561</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>var_text_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Status_Var_to_Update_Project_as_Complete</name>
        <label>Assign Status Var to Update Project as Complete</label>
        <locationX>562</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>var_text_StatusField</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Project_with_new_list_values_and_mark_as_processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_True</name>
        <label>Assign Success True</label>
        <locationX>247</locationX>
        <locationY>771</locationY>
        <assignmentItems>
            <assignToReference>var_boolean_success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Cities</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Cities</label>
        <locationX>817</locationX>
        <locationY>338</locationY>
        <assignNextValueToReference>currentItem_Filter_Cities</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Geographic_Areas_Related_to_Project</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Cities.ampi__Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Neighbourhood/Village/City</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Has_the_City_filter_returned_records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Countries</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Countries</label>
        <locationX>1327</locationX>
        <locationY>345</locationY>
        <assignNextValueToReference>currentItem_Filter_Countries</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Geographic_Areas_Related_to_Project</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Countries.ampi__Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Country</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Has_the_Country_field_returned_records</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_City_List_by_Name_ASC</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort City List by Name ASC</label>
        <locationX>999</locationX>
        <locationY>536</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Cities</collectionReference>
        <connector>
            <targetReference>Loop_through_sorted_city_list</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Geographic_Area_Name_Formula__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Country_List_by_Name_ASC</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Country List by Name ASC</label>
        <locationX>1500</locationX>
        <locationY>532</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Filter_Countries</collectionReference>
        <connector>
            <targetReference>Loop_through_sorted_country_list</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Geographic_Area_Name_Formula__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Did_the_Get_return_records</name>
        <label>Did the Get return records?</label>
        <locationX>544</locationX>
        <locationY>343</locationY>
        <defaultConnector>
            <targetReference>Update_Project_with_new_list_values_and_mark_as_processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It didn&apos;t return any record</defaultConnectorLabel>
        <rules>
            <name>It_returned_records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Geographic_Areas_Related_to_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Project_Geographic_Areas_Related_to_Project</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Cities</targetReference>
            </connector>
            <label>It returned records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_City_filter_returned_records</name>
        <label>Has the City filter returned records?</label>
        <locationX>988</locationX>
        <locationY>340</locationY>
        <defaultConnector>
            <targetReference>Filter_Countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, city list is empty</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_city_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Cities</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_City_List_by_Name_ASC</targetReference>
            </connector>
            <label>Yes, there are city records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_the_Country_field_returned_records</name>
        <label>Has the Country field returned records?</label>
        <locationX>1477</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>Assign_Status_Var_to_Update_Project_as_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, country list is empty</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_country_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Countries</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Country_List_by_Name_ASC</targetReference>
            </connector>
            <label>Yes, there are country records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_first_city_of_the_loop</name>
        <label>Is it the first city of the loop?</label>
        <locationX>1109</locationX>
        <locationY>753</locationY>
        <defaultConnector>
            <targetReference>Add_semicolon_separations_for_cities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It&apos;s not the first city</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_the_first_city</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_text_cities_concatenated</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_City_to_the_text_variable</targetReference>
            </connector>
            <label>Yes, it is the first city</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_the_first_country_of_the_loop</name>
        <label>Is it the first country of the loop?</label>
        <locationX>1634</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Add_semicolon_separations_for_countries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>It&apos;s not the first country</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_the_first_country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_text_countries_concatenated</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_country_to_the_text_variable</targetReference>
            </connector>
            <label>Yes, it is the first country</label>
        </rules>
    </decisions>
    <description>This flow runs the logic to query all related Project Geographic Area records for a given Project, based on the Project ID received from the invoking process. It then builds two alphabetically ordered lists—Cities and Countries—and stores them in the “Cities List” and “Countries List” fields on the Project record. The “Project Geographic Area List Status” is then marked as Complete, indicating that the job does not need to run again. If an error occurs, the error message is returned as an output to the invoking process.</description>
    <environments>Default</environments>
    <interviewLabel>[Scheduled] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Auto] Refresh Project Geographic Area List on Project</label>
    <loops>
        <name>Loop_through_sorted_city_list</name>
        <label>Loop through sorted city list</label>
        <locationX>1126</locationX>
        <locationY>538</locationY>
        <collectionReference>Filter_Cities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_the_first_city_of_the_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Countries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_sorted_country_list</name>
        <label>Loop through sorted country list</label>
        <locationX>1643</locationX>
        <locationY>531</locationY>
        <collectionReference>Filter_Countries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_the_first_country_of_the_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Status_Var_to_Update_Project_as_Complete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Geographic_Areas_Related_to_Project</name>
        <label>Get Project Geographic Areas Related to Project</label>
        <locationX>551</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_the_Get_return_records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_text_ProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Neighbourhood/Village/City</stringValue>
            </value>
        </filters>
        <filters>
            <field>ampi__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Country</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Project_Geographic_Area__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ampi__Type__c</queriedFields>
        <queriedFields>Geographic_Area_Name_Formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_with_new_list_values_and_mark_as_processed</name>
        <label>Update Project with new list values and mark as processed</label>
        <locationX>369</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Assign_Success_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_text_ProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Cities__c</field>
            <value>
                <elementReference>var_text_cities_concatenated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Countries__c</field>
            <value>
                <elementReference>var_text_countries_concatenated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Geographic_Area_List_Status__c</field>
            <value>
                <elementReference>var_text_StatusField</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Project__c</object>
    </recordUpdates>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Project_Geographic_Areas_Related_to_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Cities</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project_Geographic_Area__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Countries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project_Geographic_Area__c</objectType>
    </variables>
    <variables>
        <name>var_boolean_success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_Record_Project</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Project__c</objectType>
    </variables>
    <variables>
        <name>var_text_cities_concatenated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_countries_concatenated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_text_ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_text_StatusField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Required</stringValue>
        </value>
    </variables>
</Flow>
