flows/Auto_Generate_API_Transaction_Code_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>This flow generates an API Transaction Code Record that will generate a sequencial code that will be updated on the triggering record Allocation/Disbursement. This is a flow that is invoked by &quot;On create&apos; flows for these objects</description>
    <environments>Default</environments>
    <formulas>
        <name>fx_AllocationId</name>
        <dataType>String</dataType>
        <expression>IF({!var_RecordType}=&quot;Allocation&quot;,{!var_RecordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fx_DisbursmentId</name>
        <dataType>String</dataType>
        <expression>IF({!var_RecordType}=&quot;Disbursement&quot;,{!var_RecordId},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>[Auto] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Auto] Generate API Transaction Code Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This element creates the Transaction Codes according to the inputs from the RecordType and RecordID variables</description>
        <name>Create_API_Transaction_Code</name>
        <label>Create API Transaction Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_API_Transaction_Code_Unique_Code</targetReference>
        </connector>
        <inputAssignments>
            <field>Allocation__c</field>
            <value>
                <elementReference>fx_AllocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disbursement__c</field>
            <value>
                <elementReference>fx_DisbursmentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Related_To__c</field>
            <value>
                <elementReference>var_RecordType</elementReference>
            </value>
        </inputAssignments>
        <object>API_Transaction_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_API_Transaction_Code_Unique_Code</name>
        <label>Get API Transaction Code - Unique Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_API_Transaction_Code</elementReference>
            </value>
        </filters>
        <object>API_Transaction_Code__c</object>
        <outputAssignments>
            <assignToReference>var_TransactionCode</assignToReference>
            <field>Transaction_Code_Formula__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_API_Transaction_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_API_transactionCode</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>API_Transaction_Code__c</objectType>
    </variables>
    <variables>
        <name>var_RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_TransactionCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
