flows/Screen_Create_Risk_Registers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Risk_To_Risk_List</name>
        <label>Add Risk To Risk List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_var_Risks_to_create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Risks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_risk_register</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initiate_Risk_Register</name>
        <label>Initiate Risk Register</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_RiskRegister.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_risk_register.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_RiskRegister.ampi__Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Risks_related_to_Risk_Register</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Risks_related_to_Risk_Register</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Risks related to Risk Register</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Risks_related_to_Risk_Register</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Risks</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Risks_related_to_Risk_Register.ampi__Risk_Register__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_through_risk_register.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Create_Risk_Register</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Projects_selected</name>
        <label>Projects selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Projects_have_been_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dt_projects.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Project_ID_into_List_of_Variables</targetReference>
            </connector>
            <label>Projects have been selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Risk_Register_Selected</name>
        <label>Risk Register Selected?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Risk_Registers_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dt_RiskRegisters.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transform_Risk_Register_Into_Text_Collection</targetReference>
            </connector>
            <label>Risk Registers Selected</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Screen] Create Risk Registers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen] Create Risk Registers</label>
    <loops>
        <name>Loop_through_risk_register</name>
        <label>Loop through risk register</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Risk_Registers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initiate_Risk_Register</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Risk_Register</name>
        <label>Create Risk Register</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transform_Risks</targetReference>
        </connector>
        <inputReference>var_RiskRegister</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Risks</name>
        <label>Create Risks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>coll_var_Risks_to_create</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Projects_with_Risk_Registers</name>
        <label>Get Projects with Risk Registers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screen_step1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_Risk_Registers__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Project__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Registers</name>
        <label>Get Risk Registers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Select_Risk_Registers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Project__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_Project_ID_into_List_of_Variables</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk_Register__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ampi__Project__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risks</name>
        <label>Get Risks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_risk_register</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ampi__Risk_Register__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_Risk_Register_Into_Text_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ampi__Risk__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_Select_Risk_Registers</name>
        <label>Screen - Select Risk Registers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Risk_Register_Selected</targetReference>
        </connector>
        <fields>
            <name>dt_RiskRegisters</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ampi__Risk_Register__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Risk_Registers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1b01&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Risk Register Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ampi__Project__c&quot;,&quot;guid&quot;:&quot;column-b8e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Project&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_step1</name>
        <label>Select Projects</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Projects_selected</targetReference>
        </connector>
        <fields>
            <name>dt_projects</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ampi__Project__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Projects_with_Risk_Registers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-de19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Projects_with_Risk_Registers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Project_ID_into_List_of_Variables</name>
        <label>Transform Project ID into List of Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Risk_Registers</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dt_projects.selectedRows[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Risk_Register_Into_Text_Collection</name>
        <label>Transform Risk Register Into Text Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Risks</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Risk_Registers[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Risks</name>
        <label>Transform Risks</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Risk_To_Risk_List</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ampi__Risk__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>ampi__Category__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Filter_Risks_related_to_Risk_Register[$EachItem].ampi__Category__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ampi__Risk_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Filter_Risks_related_to_Risk_Register[$EachItem].ampi__Risk_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Filter_Risks_related_to_Risk_Register[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ampi__xx_Risk_Level__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Filter_Risks_related_to_Risk_Register[$EachItem].ampi__xx_Risk_Level__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ampi__Risk_Register__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_RiskRegister.Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>coll_var_Risks_to_create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Risks_related_to_Risk_Register</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RiskRegister</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ampi__Risk_Register__c</objectType>
    </variables>
</Flow>
