flows/Screen_Project_Refresh_Project_Geographic_Area_List.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>This screen flow supports the recalculation of Project Geographic Area lists on the Project record using a subflow of the same name. It is triggered by the “Refresh Geographic Areas List” button, which only appears when there are pending updates due to changes in Project Geographic Area records.</description>
    <environments>Default</environments>
    <interviewLabel>[Screen] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Screen] Project - Refresh Project Geographic Area List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screen_ProjectGeographicArea</name>
        <label>screen_ProjectGeographicArea</label>
        <locationX>552</locationX>
        <locationY>407</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screen_text_error</name>
            <fieldText>&lt;p&gt;There was an error with your processing. Please follow the message to your sysadmin&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Subflow_Refresh_Project_Geographic_Area_List_on_Project.var_text_ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subflow_Refresh_Project_Geographic_Area_List_on_Project.var_boolean_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>screen_text_success</name>
            <fieldText>&lt;p&gt;Your list has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Subflow_Refresh_Project_Geographic_Area_List_on_Project.var_boolean_success</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Subflow_Refresh_Project_Geographic_Area_List_on_Project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Refresh_Project_Geographic_Area_List_on_Project</name>
        <label>[Subflow] Refresh Project Geographic Area List on Project</label>
        <locationX>551</locationX>
        <locationY>223</locationY>
        <connector>
            <targetReference>screen_ProjectGeographicArea</targetReference>
        </connector>
        <flowName>Auto_Refresh_Project_Geographic_Area_List_on_Project</flowName>
        <inputAssignments>
            <name>var_text_ProjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
