flows/Trigger_Project_Create_Implementation_Plan_and_Activities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <collectionProcessors>
        <name>Sort_Default_Activities_by_Order_ASC</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Default Activities by Order ASC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Project_Default_Activites_CMDT</collectionReference>
        <connector>
            <targetReference>Transform_from_CDMT_to_Activities</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>Order__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Get_CMDT_retrieved_records</name>
        <label>Get CMDT retrieved records?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>List is null</defaultConnectorLabel>
        <rules>
            <name>CMDT_Records_Retrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_Default_Activites_CMDT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_Default_Activities_by_Order_ASC</targetReference>
            </connector>
            <label>CMDT Records Retrieved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fx_text_ImplementationPlanName</name>
        <dataType>String</dataType>
        <expression>&quot;Implementation Plan - &quot;&amp;{!$Record.Name}</expression>
    </formulas>
    <interviewLabel>[Trigger] Project - Create Implementation Plan and Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Trigger] Project - Create Implementation Plan and Activities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Activities_from_Collection</name>
        <label>Create Activities from Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Transform_from_CDMT_to_Activities</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Implementation_Plan</name>
        <label>Create Implementation Plan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Default_Activites_CMDT</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fx_text_ImplementationPlanName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Description__c</field>
            <value>
                <stringValue>Create automatically</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ampi__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ampi__Implementation_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Default_Activites_CMDT</name>
        <label>Get Project Default Activites (CMDT)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMDT_retrieved_records</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Default_Activitiy__mdt</object>
        <sortField>Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Implementation_Plan</targetReference>
        </connector>
        <object>ampi__Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_from_CDMT_to_Activities</name>
        <label>Transform from CDMT to Activities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Activities_from_Collection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ampi__Activity__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Project_Default_Activites_CMDT[$EachItem].Label</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ampi__Implementation_Plan__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Create_Implementation_Plan</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ampi__xx_Activity_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>var_ActivityType</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>var_ActivityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </variables>
</Flow>
